/*http://zerosixthree.se/vertical-align-anything-with-just-3-lines-of-css/ */
p {
  text-align: center;
  background-color: inherit;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: perspective(1px) translateY(-50%);
}

/* mobile */
@media only screen and (max-width: 767px) {
  body {
    margin: 50px auto;
    width: 480px;
    background-color: azure;
  }
}

/* tablet */
@media only screen and (min-width: 768px) and (max-width: 959px) {
  body {
    margin: 50px auto;
    width: 80%;
    background-color: azure;
  }
}
/* desktop */
@media only screen and (min-width: 960px) {
  body {
    width: 960px;
    margin: 50px auto;
    background-color: azure;
  }
  
}