@media only screen and (max-width: 767px) {}

@media only screen and (max-width: 959px) {
  header {
    width: 100%;
    height: 100px;
    background-color: lightblue;
    margin-top: 50px;
  }
  main {
    width: 100%;
  }
  aside {
    width: 20.8%;
    height: 600px;
    float: left;
    background-color: blueviolet;
  }
  article {
    width: 79.2%;
    float: right;
    font-size: 0;
  }
  footer {
    clear: both;
    width: 79.2%;
    height: 150px;
    background-color: aqua;
    display: inline-block;
  }
}

@media only screen and (min-width: 960px) {
  header {
    width: 960px;
    height: 100px;
    background-color: lightblue;
    margin-top: 50px;
  }
  main {
    width: 960px;
  }
  aside {
    width: 200px;
    height: 600px;
    float: left;
    background-color: blueviolet;
  }
  article {
    width: 760px;
    float: right;
    font-size: 0;
  }
  footer {
    clear: both;
    width: 760px;
    height: 150px;
    background-color: aqua;
    display: inline-block;
  }
}