main {
  display: flex;
  justify-content: center;
}

article section {
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 767px) {
  main {
    display: block;
  }
  
  article section {
    display: block;
  }
  
  header {
    width: 100%;
    height: 75px;
    background-color: firebrick;
    margin-top: 50px;
  }
  main {
    width: 100%;
  }
  aside {
    width: 100%;
    height: 150px;
    background-color: salmon;
  }
  article {
    width: 100%;
  }
  .footer {
    width: 100%;
    height: 80px;
    background-color: darkgoldenrod;
  }
}

@media only screen and (min-width: 768px) and (max-width: 959px) {
  header {
    width: 100%;
    height: 100px;
    background-color: lemonchiffon;
    margin-top: 50px;
  }
  main {
    width: 100%;
  }
  aside {
    width: 20.8%;
    height: 600px;
    background-color: greenyellow;
  }
  article {
    width: 79.2%;
  }
  .footer {
    width: 100%;
    height: 150px;
    background-color: darkgrey;
  }
}

@media only screen and (min-width: 960px) {
  header {
    width:100%;
    height: 100px;
    background-color: lightblue;
    margin-top: 50px;
  }
  main {
    width: 100%;
  }
  aside {
    width: 20.8%;
    height: 600px;
    background-color: blueviolet;
  }
  article {
    width: 79.2%;
  }
  .footer{
    width: 100%;
    height: 150px;
    background-color: gold;
  }
}