@media only screen and (max-width: 767px) {
  .top {
    width: 100%;
    height: 125px;
    background-color: violet;
  }
  .top:first-child {
    background-color: hotpink;
  }
  .top:last-child {
    background-color: yellowgreen;
  }
  .bottom {
    width: 50%;
    height: 250px;
    background-color: darkkhaki;
  }

  .bottom-container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;

  }
  .bottom:first-child {
    background-color: seagreen;
  }
  .bottom:nth-child(1) {
    background-color: paleturquoise;
  }
  .bottom:nth-child(2) {
    background-color: lawngreen
  }
  .bottom:last-child {
    background-color: teal;
  }
}

@media only screen and (min-width: 768px) and (max-width: 959px) {
  .top {
    width: 50%;
    height: 200px;
    background-color: floralwhite;
  }
  .top:first-child {
    background-color: olive;
  }
  .top:last-child {
    background-color: darkorange;
  }
  .bottom {
    width: 25%;
    height: 250px;
    background-color: sandybrown;
  }
  .bottom:first-child {
    background-color: orangered;
  }
  .bottom:nth-child(1) {
    background-color: darksalmon;
  }
  .bottom:nth-child(2) {
    background-color: rebeccapurple
  }
  .bottom:last-child {
    background-color: bisque;
  }
}

@media only screen and (min-width: 960px) {
  .top {
    width: 50%;
    height: 200px;
    background-color: aquamarine;
  }
  .top:first-child {
    background-color: beige
  }
  .top:last-child {
    background-color: darkcyan;
  }
  .bottom {
    width: 25%;
    height: 250px;
    background-color: forestgreen;
  }
  .bottom:first-child {
    background-color: fuchsia;
  }
  .bottom:nth-child(1) {
    background-color: darkmagenta;
  }
  .bottom:nth-child(2) {
    background-color: floralwhite
  }
  .bottom:last-child {
    background-color: dodgerblue;
  }
}